In [37]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.api as sms
from scipy.stats import ttest_1samp, shapiro, levene, ttest_ind, mannwhitneyu, pearsonr, spearmanr, kendalltau, \
    f_oneway, kruskal
from statsmodels.stats.proportion import proportions_ztest
import warnings
warnings.filterwarnings('ignore')
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [39]:
df = pd.read_csv('grocerywebsiteabtestdata.csv')
df.head()

   RecordID   IP Address  LoggedInFlag  ServerID  VisitPageFlag
0         1  39.13.114.2             1         2              0
1         2    13.3.25.8             1         1              0
2         3  247.8.211.8             1         1              0
3         4  124.8.220.3             0         3              0
4         5  60.10.192.7             0         2              0

In [40]:
df.shape

(184588, 5)

In [41]:
df = df.groupby(['IP Address','LoggedInFlag','ServerID'])["VisitPageFlag"].sum()

In [42]:
df = df.reset_index(name = "VisitPageFlagSum")
df.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum
0  0.0.108.2             0         1                 0
1  0.0.109.6             1         1                 0
2  0.0.111.8             0         3                 0
3  0.0.160.9             1         2                 0
4  0.0.163.1             0         2                 0

In [43]:
df["VisitPageFlag"] = df["VisitPageFlagSum"].apply(lambda x: 1 if x != 0 else 0)
df.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum  VisitPageFlag
0  0.0.108.2             0         1                 0              0
1  0.0.109.6             1         1                 0              0
2  0.0.111.8             0         3                 0              0
3  0.0.160.9             1         2                 0              0
4  0.0.163.1             0         2                 0              0

In [44]:
df['group'] = df['ServerID'].map({1:'Test', 2:'Control', 3:'Control'})
df.drop(['ServerID','VisitPageFlagSum'],axis=1, inplace=True)

In [45]:
df.head()

  IP Address  LoggedInFlag  VisitPageFlag    group
0  0.0.108.2             0              0     Test
1  0.0.109.6             1              0     Test
2  0.0.111.8             0              0  Control
3  0.0.160.9             1              0  Control
4  0.0.163.1             0              0  Control

In [47]:
df_control = df[df['group'] == 'Control'].copy()
df_control.reset_index(inplace=True, drop = True)

In [48]:
df_test = df[df['group'] == 'Test'].copy()
df_test.reset_index(inplace=True, drop = True)

In [57]:
#control_group
df_control.head()

  IP Address  LoggedInFlag  VisitPageFlag    group
0  0.0.111.8             0              0  Control
1  0.0.160.9             1              0  Control
2  0.0.163.1             0              0  Control
3  0.0.178.9             1              0  Control
4  0.0.185.4             1              0  Control

In [56]:
#test_group
df_test.head()

  IP Address  LoggedInFlag  VisitPageFlag group
0  0.0.108.2             0              0  Test
1  0.0.109.6             1              0  Test
2  0.0.169.1             1              0  Test
3  0.0.181.9             0              1  Test
4  0.0.195.5             1              0  Test

In [61]:
df_control.describe().T

                 count      mean       std  min  25%  50%  75%  max
LoggedInFlag   66460.0  0.503912  0.499988  0.0  0.0  1.0  1.0  1.0
VisitPageFlag  66460.0  0.092251  0.289382  0.0  0.0  0.0  0.0  1.0

In [62]:
df_test.describe().T

                 count      mean       std  min  25%  50%  75%  max
LoggedInFlag   33303.0  0.503258  0.499997  0.0  0.0  1.0  1.0  1.0
VisitPageFlag  33303.0  0.115515  0.319647  0.0  0.0  0.0  0.0  1.0

In [63]:
control_sum_visit = df_control['VisitPageFlag'].count()
print("Sum visit for control group: ", control_sum_visit)
control_visit_1 = df_control[df_control['VisitPageFlag'] ==1]['VisitPageFlag'].count()
print("Visit Page target = 1 : ", control_visit_1)

Sum visit for control group:  66460
Visit Page target = 1 :  6131

In [64]:
control_ratio_visit = control_visit_1/control_sum_visit
control_ratio_visit

0.09225097803189888

In [65]:
test_sum_visit = df_test['VisitPageFlag'].count()
print("Sum visit for test group: ", test_sum_visit)
test_visit_1 = df_test[df_test['VisitPageFlag'] ==1]['VisitPageFlag'].count()
print("Visit Page target = 1 : ", test_visit_1)

Sum visit for test group:  33303
Visit Page target = 1 :  3847

In [66]:
test_ratio_visit = test_visit_1/test_sum_visit
test_ratio_visit

0.11551511875806984

In [67]:
test_stat, pvalue = shapiro(df_control["VisitPageFlag"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.3266, p-value = 0.0000

In [68]:
test_stat, pvalue = shapiro(df_test["VisitPageFlag"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.3711, p-value = 0.0000

In [69]:
test_stat, pvalue = mannwhitneyu(df_control["VisitPageFlag"],
                                 df_test["VisitPageFlag"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 1080913226.5000, p-value = 0.0000

In [70]:
group_count = df.groupby(['group', 'VisitPageFlag'])['group'].count().reset_index(name='Count')
groupped = pd.crosstab(group_count['group'], group_count['VisitPageFlag'], values=group_count['Count'], aggfunc=np.sum, margins=True)

In [71]:
100*groupped.div(groupped['All'], axis=0)

VisitPageFlag          0          1    All
group
Control        90.774902   9.225098  100.0
Test           88.448488  11.551512  100.0
All            89.998296  10.001704  100.0